node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.apk
*.aab
assets/
.vscode/
*.log
# macOS
.DS_Store
.vscode/
*.log
hooks/useCachedResources.ts
hooks/useColorScheme.ts
hooks/useDebounce.tsx
hooks/useSwipe.tsx